---
layout: default
---

<div class="home">
	<header>
		<a href="/"><img src="/assets/images/profile.jpg"/></a>
	</header>
	<ul>
	  {% for post in site.categories.posts %}
	      <li><span class='post-date'>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<header>
		Papers
	</header>
	<ul>
	  {% for post in site.categories.papers %}
	    <li><span class='post-date'>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<footer>
		<a href="http://feedpress.me/kenhirakawa" class="feed"><img src="/assets/images/feed.png"/></a>
	</footer>
</div>
