@import "../bourbon/bourbon";

$light-gray: #fdfdfd;
$gray: #ccc;
$dark-gray: #444;
$darker-gray: #222;
$contentWidth: 660px;

body{
	background-color: $light-gray;
	font-family: "Georgia", "serif";
	font-size: 1.3125em;
	line-height: 1.618em;
	color: $dark-gray;
	padding-top: 1.618em;
}

p, h1, h2, ul {
	max-width: $contentWidth;
	margin: 0 auto;
	padding: 0 16px;
}

h1{
	line-height: 1.1em;
	color: $darker-gray;
	font-size: 4.236em;
	margin-bottom: 0.618em;
}

h2{
	font-size: 1.618em;
	margin-top: 1.618em;
	color: $darker-gray;
}


figure{
	text-align: center;
	margin: 2.618em 0;

	img{
		max-width: 1200px;
		width: 100%;
	}

	figcaption {
		font-size: 0.7em; // yes, I improvised.
	}
}

a{
	color: #da534f;
	@include transition(color 0.3s ease-in-out);
}

a:hover{
	color: #ff2f29;
}

footer {
	max-width: $contentWidth;
	margin: 2.618em auto;

	.published-date{
		text-align: center;
		margin-top: 1.618em;
	}
}

header{
	text-align: center;
	margin-bottom: 1.618em;

	img{
		border-radius: 20px;
		@include transition(opacity 0.3s ease-in-out);
	}
}

.post header{

	a:hover img{
		opacity: 1;
	}

	img{
		opacity: 0.3;
	}
}

.home{
	text-align: center;

	ul{
		list-style: none;
	}
}