<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>{{ page.title }}</title>
      <meta name="author" content="Ken Hirakawa" />

      <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
   </head>
   <body>
		<div class="content">
	      {{ content }}
	  </div>
    <footer>
        <div class="published-date">{{ site.time | date: "%B %d, %Y" }}</div>
    </footer>
   </body>
</html>